header{
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png); 
    height: 100px; 
}

#logo {
    border-top: 50px solid rgba(0, 0, 0, 0);
    width: 200px;
}

.autore {
    color:  rgb(78, 160, 255);
}

.info{
    color: gray;
}

.evidenziato{
    background-color: yellow;
}

th {
    background-color:  rgb(32, 169, 229);
    text-align: left;
    color: white;
}

.dispari{
    background-color:rgb(176, 229, 242);
}

td{
    width: 25%;
}

.ultima-colonna{
    width: 50%;
}

table{
    border-collapse: collapse;
}

.interessarti{
    width: 250px;
    height: 200px;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.monitor{
    background-image: url(../img/monitor.jpg);
}

.graph{
    background-image: url(../img/graph.jpg);
}